@charset "UTF-8";

* {
  scrollbar-width: none;
  /* 파이어폭스 */
  -webkit-overflow-scrolling: touch;
}

*::-webkit-scrollbar {
  display: none;
}

.wrapper {
  position: relative;
  min-width: var(--body-min-width);
  padding: var(--layout-height) var(--spacing) 0;
  height: 100%;
  background-color: var(--color-white);
  overflow-y: auto;
  z-index: 10;
}

.wrapper.pd_btm {
  padding-bottom: var(--layout-height);
}

.pop_header~.wrapper.pd_btm {
  padding-bottom: calc(var(--layout-height) + var(--spacing));
}

label {
  cursor: pointer;
}

.pop_header,
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15;
  display: inline-flex;
  align-items: center;
  width: 100%;
  min-width: var(--body-min-width);
  height: var(--layout-height);
  background-color: var(--color-white);
  padding: 13px var(--spacing);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.pop_header [class*="tit"],
.header [class*="tit"] {
  text-align: center;
  margin: 0;
}

.pop_header .close {
  position: absolute;
  right: var(--spacing);
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(../img/layout/ico_close.svg) no-repeat center center;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 1;
}

.header .back {
  position: absolute;
  left: var(--spacing);
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(../img/layout/ico_arrow_left.svg) no-repeat center center;
  background-size: auto 17px;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: var(--body-min-width);
  height: var(--layout-height);
  background-color: var(--color-white);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 15;
}

.footer .quick_menu {
  display: flex;
  height: 100%;
  justify-content: space-around;
  color: var(--color-default);
}

.footer .quick_menu li {
  width: calc(100% / 4);
}

.footer .quick_menu li a {
  display: block;
  position: relative;
  padding: calc(20px + var(--spacing-md)) 0 var(--spacing-md);
  font-size: var(--font-xs);
  line-height: 1.9;
  text-align: center;
}

.footer .quick_menu li a:before {
  content: "";
  position: absolute;
  top: var(--spacing-md);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 22px;
  background-color: var(--color-default);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-repeat: no-repeat;
  mask-position: center center;
}

.footer .quick_menu li.depth01 a:before {
  -webkit-mask-image: url("../img/layout/ico_ft_menu01.svg");
  mask-image: url("../img/layout/ico_ft_menu01.svg");
}

.footer .quick_menu li.depth02 a:before {
  -webkit-mask-image: url("../img/layout/ico_ft_menu02.svg");
  mask-image: url("../img/layout/ico_ft_menu02.svg");
}

.footer .quick_menu li.depth03 a:before {
  -webkit-mask-image: url("../img/layout/ico_ft_menu03.svg");
  mask-image: url("../img/layout/ico_ft_menu03.svg");
}

.footer .quick_menu li.depth04 a:before {
  -webkit-mask-image: url("../img/layout/ico_ft_menu04.svg");
  mask-image: url("../img/layout/ico_ft_menu04.svg");
}

.footer .quick_menu li.depth05 a:before {
  -webkit-mask-image: url("../img/layout/ico_ft_menu05.svg");
  mask-image: url("../img/layout/ico_ft_menu05.svg");
}

.wrapper .section {
  position: relative;
  padding: var(--spacing-lg) 0;
} 

.wrapper .section:only-child {
  height: 100%;
  overflow-y: auto;
  padding-bottom: var(--spacing-lg);
}

.wrapper .section+.section {
  position: relative;
  padding: calc(var(--spacing-lg) + var(--spacing-md)) 0 var(--spacing-lg);
}

.wrapper .section:last-of-type {
  padding-bottom: 0;
}

.wrapper .section+.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: -16px;
  width: calc(100% + var(--spacing-xl));
  height: 8px;
  background-color: var(--color-beige);
}

.wrapper>.section>[class*="tit"]:first-child {
  margin-top: 0;
}